/*----------------
|  DEFAULT RESET |
-----------------*/
body{ font-family: 'Lato', sans-serif !important; width: 100%; height: 100%; }
a,a:hover{ text-decoration: none; }
li, ul, ul li{ list-style: none; }

.clearfix{ clear: both; }
.radius{ border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; -o-border-radius: 3px; }
.radius-rounded{ border-radius:100%; -webkit-border-radius: 100%; -moz--webkit-border-radius: 100%; -ms--webkit-border-radius: 100%; -khtml--webkit-border-radius: 100%; -o--webkit-border-radius: 100%;}

/*---------
|  NAVBAR |
----------*/
.navbar-default{background-color:#2B5698;}
.glyphicon { margin-right: 10px;}

/*----------
|  SIDEBAR |
----------*/
.sidebar-left{ background: #1B2738; }
.sidebar-left .widget h2{ display: block; clear: both; padding:15px 10px; border-top: 1px solid #27354A; border-bottom: 2px solid #27354A; color: white; font-size: 1.2em; text-transform: uppercase; font-weight: 700; }
.sidebar-left .widget ul{ padding: 0; margin: 0; }
.sidebar-left .widget li{ display: block; position: relative; padding: 0; margin: 0; }
.sidebar-left .widget li a{ display: block; padding: 10px; color: white; font-size: 1em; text-transform: uppercase; }
.sidebar-left .widget li a:hover{ background: #09f; }

.sidebar-left .user-info{ display: block; width: 100%; margin-bottom: 20px; }
.sidebar-left .widget .name{ display: block; font-size: 1.5em; text-align: center; color: #ddd; }
.sidebar-left .widget a { color: #09f; padding-left: 10px;}

/*--------------------------
| SIDEBAR IMAGEM DE PERFIL |
---------------------------*/
.thumb-user{ display: block; margin-top: 30px; margin-bottom: 10px; margin-left: auto; margin-right: auto; width: 230px; height: 230px; overflow: hidden; }
.thumb-user.admin{ border: 6px solid #132031; }
.thumb-user img{ display: block; width: 100%; height: 100%; }


/* -----------
|  DASHBOARD |
------------*/
.dashboard{ margin-top: 10px; padding: 0 30px; }
.dashboard h2{ display: block; font-size: 1.3em; padding: 10px 0; border-bottom: 1px solid #ddd; margin-bottom: 20px; color: #555; text-transform: uppercase; font-weight: 800; }

/*
	MENSAGEMS DO SISTEMA
*/	
.mensagem{ display: block; margin:0 0px 20px 0; padding:15px; color: white; font-size: 1.2em; font-weight: 400; }
.mensagem.warning{ background: #F9B042; color: #906A32; }
.mensagem.success{ background: #6CBF5D; color: white; }
.mensagem.alert{ background: #99E0F5; color: #2C6167; }
.mensagem.error{ background: #DE4646; color: white; }

